{% extends 'base.html.twig' %}
{% block title %}my edit page{% endblock %}
{% block metadesc %}my meta-desc{% endblock %}
{% block metatitle %}my meta-title{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ trick.name }} edit</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">save</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
