{% extends 'base.html.twig' %}
{% block title %}my edit page{% endblock %}
{% block metadesc %}my meta-desc{% endblock %}
{% block metatitle %}my meta-title{% endblock %}

{% block body %}
    <h1>{{ trick.name }} edit</h1>

{% endblock %}
