<div id="media-{{ form.vars.name }}">
    {{ form_row(form.uploadedFile) }}
    <button class="btn btn-danger btn-remove" type="button" data-target="#media-{{ form.vars.name }}">
        Supprimer
    </button>
</div>