{% extends 'pages/home.html.twig' %}
{% block tricks %}
    <div class="d-flex justify-content-between m-b-2">
        <div class="card m-2 p-2">
            <a href="#" title="">
                <img src="https://picsum.photos/1024/502" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card m-2 p-2">
            <a href="#" title="">
                <img src="https://picsum.photos/1024/502" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card m-2 p-2">
            <a href="#" title="">
                <img src="https://picsum.photos/1024/502" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card m-2 p-2">
            <a href="#" title="">
                <img src="https://picsum.photos/1024/502" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card m-2 p-2">
            <a href="#" title="">
                <img src="https://picsum.photos/1024/502" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary">see more</button>
        </div>
    </div>

{% endblock %}